@model IEnumerable<Core.AnimalAppointment>

@{
    ViewData["Title"] = "Календарь";
}

<h1>Календарь назначений</h1>

<p>
    <a asp-controller="Appointment" asp-action="Create">
        <button class="btn-info">
            Добавить
        </button>
        </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Animal
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.Date.Date.ToShortDateString()
            </td>
            <td>
                @item.Animal.Name
            </td>
            <td>
                @item.AppointmentType.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
