@model List<Core.AnimalAppointment>

@{
    ViewData["Title"] = "Календарь";
}

<h1>Календарь назначений</h1>

<p>
    <a asp-controller="Appointment" asp-action="Create">
        <button class="btn-info">
            Добавить
        </button>
        </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Дата
            </th>
            <th>
                Животное
            </th>
            <th>
                Тип
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(Model.IndexOf(item) + 1)
            </td>
            <td>
                @item.Date.Date.ToShortDateString()
            </td>
            <td>
                @item.Animal.Name
            </td>
            <td>
                @item.AppointmentType.Name
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
