@using Core;
@using Core.Services;
@model Core.Models.AnimalModel

@{
    ViewData["Title"] = "Create";
    UserService userService = new UserService();
    AnimalService animalService = new AnimalService();
}

<h2>Новое животное</h2>
<div class="row card">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input id="imageSource" asp-for="ImageFile" class="form-control" />
            <img id="imageView" width=300px/>
            @if(Model != null && Model.Image != null)
                {
                    @Html.Raw("<img height='100' class='center' src=\"data:image/jpeg;base64,"
                    + Convert.ToBase64String(Model.Image) + "\" />");
                }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Кличка</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="ArrivalDate" class="control-label">Дата поступления</label>
                            <input asp-for="ArrivalDate" type="date" class="form-control" />
                            <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="TypeId" class="control-label">Вид</label>
                            <select asp-for="TypeId" class="form-control">
                                @foreach (var type in animalService.GetAnimalTypes())
                                {
                                    <option value=@type.Id>@type.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Breed" class="control-label">Порода</label>
                            <input asp-for="Breed" class="form-control" />
                            <span asp-validation-for="Breed" class="text-danger"></span>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Height" class="control-label">Рост</label>
                            <input asp-for="Height" class="form-control" />
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Weight" class="control-label">Вес</label>
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Age" class="control-label">Возраст</label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="GenderId" class="control-label">Пол</label>
                            <select asp-for="GenderId" class="form-control">
                                @foreach (var gender in animalService.GetGenders())
                                {
                                    <option value=@gender.Id>@gender.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="CapturePlace" class="control-label">Место отлова</label>
                            <input asp-for="CapturePlace" class="form-control" />
                            <span asp-validation-for="CapturePlace" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Sign" class="control-label">Признаки</label>
                            <input asp-for="Sign" class="form-control" />
                            <span asp-validation-for="Sign" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Color" class="control-label">Окрас</label>
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="CuratorId" class="control-label">Куратор</label>
                            <select asp-for="CuratorId" class="form-control" >
                                @foreach (Employee employee in userService.GetEmployees())
                                {
                                    <option value=@employee.Id>
                                        <p>
                                            @employee.FirstName @employee.LastName
                                        </p>
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="CuratorId" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="StatusId" class="control-label">Статус</label>
                            <select asp-for="StatusId" class="form-control">
                                @foreach (var status in animalService.GetAnimalStatuses())
                                {
                                    <option value=@status.Id>@status.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

<script type="text/javascript">
    $(document).ready(function(){})
    $("#imageSource").change(function(event){
        alert("sefew");
        var files = event.target.files;
        $("#ImageView").attr("src", window.URL.createObjectURL(files[0]));
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
