@using Core;

@model IEnumerable<Animal>

@{
    ViewData["Title"] = "Animals";
}

<h1>Животные</h1>

<a asp-action="Create"><button class="btn btn-dark">Добавить животное</button></a>
<a asp-controller="Appointment" asp-action="Create"><button class="btn btn-danger" >Добавить назначение</button></a>
<a asp-action="Export"><button class="btn btn-primary" >Экспорт</button></a>
<table class="table">
    <thead>
        <tr>
            <th>
                Фото
            </th>
            <th>
                Дата поступления
            </th>
            <th>
                Имя
            </th>
            <th>
                Вид
            </th>
            <th>
                Статус
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="text-center">
                @if(item.Image != null)
                {
                    @Html.Raw("<img height='100' class='center' src=\"data:image/jpeg;base64,"
                    + Convert.ToBase64String(item.Image) + "\" />");
                }
                else
                {
                    <img height="100" class="center" src='~/images/defaultImage.jpg' />
                }
                </div>
            </td>
            <td>
                @item.ArrivalDate.Date.ToShortDateString()
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AnimalType.Name
            </td>
            <td>
                @item.Status.Name
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
