@using Core;

@model IEnumerable<Animal>

@{
    ViewData["Title"] = "Animals";
}

<h1>Животные</h1>

<a asp-action="Create"><button class="btn-dark">Добавить животное</button></a>
<a asp-controller="Appointment" asp-action="Create"><button class="btn-danger" >Добавить назначение</button></a>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата поступления
            </th>
            <th>
                Имя
            </th>
            <th>
                Вид
            </th>
            <th>
                Статус
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ArrivalDate
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AnimalType.Name
            </td>
            <td>
                @item.Status.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
