@model Core.User

@{
    ViewData["Title"] = "Account";
}

<h2>Аккаунт</h2>
@{
    <div>
        <form method="post" asp-controller="Account" asp-action="SaveClient">
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId"/>
        <input type="hidden" asp-for="Employee.Id" value="@Model.Employee.Id"/>
        <input type="hidden" asp-for="Password" value="@Model.Password"/>
            <table>
                <tr>
                    <td>
                        <label>Логин</label>
                    </td>
                    <td>
                        <input type="text" asp-for="Login" value="@Model.Login" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Имя</label>
                    </td>
                    <td>
                        <input type="text" asp-for="Employee.FirstName" value="@Model.Employee.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Фамилия</label>
                    </td>
                    <td>
                        <input type="text" asp-for="Employee.LastName" value="@Model.Employee.LastName" />
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn-primary" asp-controller="Account" asp-action="SaveUser">Сохранить</button>
            <button asp-controller="Account" class="btn-danger" asp-action="Logout">Выйти</button>
        </form>
    </div>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
